<h3>{{titre}}</h3>
<p class="text-danger" *ngIf="errorServeur">ERREUR : {{errorServeur}}</p>
<form class="form-horizontal" (ngSubmit)="saveSaison(saisonForm.value)" #saisonForm="ngForm">
    <ng-template [ngIf]="_mode != 'create'">
        <div class="form-group">
            <label class="col-md-2 control-label">id</label>
            <div class="col-md-10">
                <input class="form-control" [(ngModel)]="saison.id" name="id" disabled>
            </div>
        </div>
    </ng-template>
    <div class="form-group">
        <label class="col-md-2 control-label">Saison</label>
        <div class="col-md-10">
            <input class="form-control" name="libelle" [(ngModel)]="saison.libelle" required minlength="3" #libelle="ngModel" [disabled]="_mode == 'visu' || _mode == 'delete'">
            <div *ngIf="libelle.dirty && libelle.hasError('required')" class="text-danger">Champ obligatoire</div>
            <div *ngIf="libelle.dirty && libelle.hasError('minlength')" class="text-danger">Au moins 3 caractères</div>
        </div>
    </div>
    <button *ngIf="_mode != 'visu'" type="submit" class="btn btn-primary" [disabled]="saisonForm.invalid">Valider</button>
</form>