<div class="container">
    <div class="row">
        <div class="col-md-5">
            <table class="table table-bordered">
                <tr class="active">
                    <th>id</th>
                    <th>saison</th>
                    <th>actions</th>
                </tr>
                <tr *ngFor="let saison of saisons" [class.selected]="saison === selectedSaison">
                    <td class="col-md-2">{{saison.id}}</td>
                    <td class="col-md-6">{{saison.libelle}}</td>
                    <td class="col-md-4"><button class="btn btn-info btn-sm" (click)="visuSaison(saison)"> <span class="glyphicon glyphicon-zoom-in" ></span></button>
                        <button class="btn btn-info btn-sm" (click)="updateSaison(saison)"><span class="glyphicon glyphicon-pencil" ></span></button>
                        <button class="btn btn-info btn-sm" (click)="deleteSaison(saison)"><span class="glyphicon glyphicon-trash"></span></button></td>
                </tr>
            </table>
        </div>
        <div *ngIf="modeVueDetail != 'none'" class=" col-md-5 col-md-offset-1">
            <my-saison-detail [saison]="selectedSaison" [mode]="modeVueDetail" (saisonUpdated)="reloadSaisons($event)"></my-saison-detail>
        </div>
    </div>
    <button class="btn btn-primary" (click)="createSaison()">Ajouter Une Saison</button>
</div>