<div class="container">
    <div class="row">
        <div class="col-md-5">
            <table class="table table-bordered">
                <tr class="active">
                    <th>id</th>
                    <th>saison</th>
                    <th>actions</th>
                </tr>
                <tr *ngFor="let saison of saisons" [class.selected]="saison === selectedSaison">
                    <td>{{saison.id}}</td>
                    <td>{{saison.libelle}}</td>
                    <td><button class="btn btn-info btn-xs" (click)="visuSaison(saison)">Visualiser</button>
                        <button class="btn btn-info btn-xs" (click)="updateSaison(saison)">Modifier</button>
                        <button class="btn btn-info btn-xs" (click)="deleteSaison(saison)">Supprimer</button></td>
                </tr>
            </table>
        </div>
        <div *ngIf="modeVueDetail != 'none'" class=" col-md-5 col-md-offset-1">
            <my-saison-detail [saison]="selectedSaison" [mode]="modeVueDetail" (saisonUpdated)="reloadSaisons($event)"></my-saison-detail>
        </div>
    </div>
    <button class="btn btn-primary" (click)="createSaison()">Ajouter Une Saison</button>
</div>